---
- name: Create DNS record at deSEC
  delegate_to: localhost
  ansible.builtin.uri:
    url: "https://desec.io/api/v1/domains/{{ le_desec_zone }}/rrsets/"
    method: POST
    headers:
      Authorization: "Token {{ le_desec_account_api_token }}"
    body_format: json
    body:
      subname: "{{ item.0.key | replace(public_domain, '') | regex_replace('\\.$', '') }}"
      type: TXT
      ttl: 3600
      records:
      - "\"{{ item.1 }}\""
    status_code: [201, 429]
  register: record
  until: record.status == 201
  retries: 10
  delay: 5
  loop: "{{ challenge_data_dns | default({}) | dict2items | subelements('value') }}"
  when:
    - sample_com_challenge is changed
    - le_dns_provider == "desec"
    - le_desec_account_api_token is iterable
    - le_desec_account_api_token | ansible.builtin.length > 0
