---
- name: Delete DNS record at deSEC
  delegate_to: localhost
  ansible.builtin.uri:
    url: "https://desec.io/api/v1/domains/{{ le_desec_zone }}/rrsets/{{ item.0.key | replace( le_desec_zone , '') | regex_replace('\\.$', '') }}/TXT/"
    method: DELETE
    headers:
      Authorization: "Token {{ le_desec_account_api_token }}"
    status_code: [204, 429]
  register: record
  until: record.status == 204
  retries: 10
  delay: 5
  loop: "{{ challenge_data_dns | default({}) | dict2items | subelements('value') }}"
  when:
    - le_dns_provider == "desec"
    - le_desec_account_api_token is iterable
    - le_desec_account_api_token | ansible.builtin.length > 0
